<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.yuji.mydebugapplication">

    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_SES"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".presentation.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.view.activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.activity.PinningActivity"
            android:label="@string/app_name"/>
        <!--<receiver android:name=".presentation.view.receiver.MyDeviceAdminReceiver"-->
            <!--android:label="@string/my_device_admin"-->
            <!--android:description="@string/my_device_admin_description"-->
            <!--android:permission="android.permission.BIND_DEVICE_ADMIN">-->
            <!--<meta-data android:name="android.app.device_admin"-->
                <!--android:resource="@xml/device_admin" />-->
            <!--<intent-filter>-->
                <!--<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />-->
                <!--<action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />-->
                <!--<action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />-->
                <!--<action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />-->
                <!--<action android:name="android.app.action.ACTION_PASSWORD_EXPIRING" />-->
                <!--<action android:name="android.app.action.ACTION_PASSWORD_FAILED" />-->
                <!--<action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <activity
            android:name=".presentation.view.activity.AboutActivity"
            android:label="@string/app_name"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"/>
    </application>

</manifest>